@model List<DMYTest.Data.Models.Product>
@{
    ViewBag.Title = "Index";
}
<a class="btn btn-success" href="/AdminProduct/Create">Urun Ekle</a>
<br />
<br />

<table class="table table-bordered" id="table">
    <tr>
        <th>Urun Adi</th>
        <th>Aciklama</th>
        <th>Fiyat</th>
        <th>Stok Adedi</th>
        <th>Kategorisi</th>
        <th>Sil</th>
        <th>Guncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Description</td>
            <td>@item.UnitPrice</td>
            <td>@item.Stock</td>
            <td>@item.Categories.CategoryName</td>
            <td><a class="btn btn-danger btnDelete" data-id="@item.ProductID">Sil</a></td>
            <td><a class="btn btn-warning" href="/AdminProduct/Update/@item.ProductID">Guncelle</a></td>

        </tr>
    }
</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#table").on("click", ".btnDelete", function () {

            var btn = $(this);
            bootbox.confirm("Silmek istediginize emin misiniz?", function (result) {

                if (result) {
                    var id = btn.data("id");
                    $.ajax(
                        {
                            type: "GET",
                            url: "/AdminProduct/Delete/" + id,
                            success: function () {
                                btn.parent().parent().remove(); // btn.parent().parent() yerine btn.closest("tr") kullanımı
                            }
                        });
                } else if(result === false){
                    bootbox.alert("Urun Silinmedi");
                }else {
                    bootbox.alert("Hata Oluştu");
                }
            });


        });
    });







</script>