@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<DMYTest.Data.Models.Product>

@{
    ViewBag.Title = "Index";

}

<link href="~/Content/toastr.css" rel="stylesheet" />

<a class="btn btn-success" href="/adminproduct/create">Add Product</a>
<br />
<br />

<table class="table table-bordered" id="table">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Stock Count</th>
        <th>Category</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Description</td>
            <td>@item.UnitPrice</td>
            <td>
                <div class="update-quantity">
                    <button class="btnIncrease" data-id="@item.ProductID">+</button>
                    <span id="item-quantity" data-id="@item.ProductID" >@item.Stock</span>
                    <button class="btnDecrease" data-id="@item.ProductID">-</button>
                </div>
            </td>

            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.Images.Where(i => i.ProductID == item.ProductID).Any())
                {
                    foreach (var image in item.Images.Where(i => i.ProductID == item.ProductID).ToList())
                    {
                        <img src="~/Content/Image/@image.ImagePath" width="80" height="60" />
                    }
                }
                else
                {
                    <img src="~/Content/Image/Default/default-image_1080.png" width="80" height="60">
                }

            </td>
            <td><a class="btn btn-danger btnDelete" data-id="@item.ProductID">Delete</a></td>
            <td><a class="btn btn-warning" href="/adminproduct/update/@item.ProductID">Update</a></td>

        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }), PagedListRenderOptions.Classic)
<!-- #region style -->
<style>
    .update-quantity {
        display: flex;
        align-items: center;
    }

        .update-quantity button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            .update-quantity button:hover {
                background-color: #0056b3;
            }
</style>
<!-- #endregion -->


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>

<!-- #region script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.btnIncrease').on('click', function () {
            var productID = $(this).data('id');
            increase(productID);
        })

        $('.btnDecrease').on('click', function () {
            var productID = $(this).data('id');
            decrease(productID);
        })
    });
    function increase(productID) {
        var stockElement = document.querySelector('#item-quantity[data-id="' + productID + '"]');

        $.ajax({
            url: "/adminproduct/increasestock",
            type: "POST",
            data: { productID: productID },
            success: function (data) {
                if (data.success === true) {
                    stockElement.innerText = data.newStock;
                    toastr.success(data.message);
                }
                else {
                    toastr.error(data.message);
                }
            },
            error: function () {
                toastr.error("There is an error!!");
            }

        });
    }
    function decrease(productID) {
        var stockElement = document.querySelector('#item-quantity[data-id="' + productID + '"]');
        $.ajax({
            url: "/adminproduct/decreasestock",
            type: "POST",
            data: { productID: productID },
            success: function (data) {
                if (data.success === true) {
                    stockElement.innerText = data.newStock;
                    toastr.success(data.message);
                }
                else {
                    toastr.error(data.message);
                }
            },
            error: function () {
                toastr.error("There is an error !!");
            }
        })
    }

    $(function () {
        $("#table").on("click", ".btnDelete", function () {

            var btn = $(this);
            bootbox.confirm("Are you sure want to delete ?", function (result) {

                if (result) {
                    var id = btn.data("id");
                    $.ajax(
                        {
                            type: "GET",
                            url: "/adminproduct/delete/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                toastr.info("Product Removed!");
                            }
                        });
                } else if (result === false) {
                    bootbox.alert("Product couldn't remove");
                } else {
                    bootbox.alert("Error");
                }
            });


        });
    });

</script>
<!-- #endregion -->
