@using PagedList;
@using PagedList.Mvc
@model IPagedList<DMYTest.Data.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" id="table">
    <tr>
        <th>Urun Adi</th>
        <th>Musteri</th>
        <th>Adresi</th>
        <th>Siparis Zamani</th>
        <th>Telefon Numarasi</th>
        <th>Siparis Durumu</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Guncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr data-orderid="@item.OrderID" class="table-order">
            <td>
                @foreach (var i in item.Sales)
                {

                    @i.Product.ProductName <t/> @i.Quantity <t/>
                     <br/>
                    
                }
            </td>
            <td>@item.User.UserName</td>
            <td>@item.Address</td>
            <td>@item.OrderDate</td>
            <td>@item.Phone</td>
            <td>@item.OrderReceived</td>

            <td>
                @foreach (var i in item.ProductOrderCrossModels.ToList())
                {
                    if (i.Product.Images.Where(a => a.ProductID == i.ProductID).Any())
                    {
                        foreach (var image in i.Product.Images.Where(a => a.ProductID == i.ProductID).ToList())
                        {
                            <img src="~/Content/Image/@image.ImagePath" width="80" height="60" />
                        }
                    }
                    else
                    {
                        <img src="~/Content/Image/Default/default-image_1080.png" width="80" height="60">
                    }
                }


            </td>
            <td><a class="btn btn-danger btnDelete" data-orderid="@item.OrderID">Sil</a></td>
            <td><a class="btn btn-warning" href="/adminproduct/update/@item.OrderID">Guncelle</a></td>

        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }), PagedListRenderOptions.Classic)

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.btnDelete').on('click', function () {
            var orderID = $(this).data('orderID');
            deleteById(orderID);
        })
        

    });
    function deleteById(orderID) {
        var elementToDelete = document.querySelector('#table-order[data-orderid="'+orderID +'"]');
        $.ajax({
            url: "/adminorder/DeleteById",
            type: "POST",
            data: { orderID: orderID },
            success: (data) => {
                if (data.success) {
                    elementToDelete.remove();
                    toastr.info(data.message);
                }
                else {
                    toastr.info(data.message);
                }
            }
            
        })
    }
</script>