@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DMYTest.Data.Models.Comment>
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" id="table">
    <tr>
        <th>Content</th>
        <th>Product</th>
        <th>User</th>
        <th>Date</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Contents</td>
            <td>@item.Product.ProductName</td>
            <td>@item.User.FirstName @item.User.LastName</td>
            <td>@item.Date</td>
            <td><span class="btnDelete" data-id="@item.ID"><a class="btn btn-danger">Delete</a></span></td>
        </tr>
    }
</table>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">



    $(document).ready(function () {
        $('.btnDelete').on('click', function () {
            var btn = $(this);
            deleteById(btn);
        });

    });
    function deleteById(btn) {
        var id = btn.data('id');

        bootbox.confirm("Are you sure want to delete?", function (result) {
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/admin/deletecomment/" + id,
                    data: {id : id},
                    success: (data) => {
                        btn.parent().parent().remove();
                        bootbox.success("Comment deleted!");
                    }
                    ,
                    error: ()=>{
                        bootbox.error(data.message);
                    }
                })
            }
            else if (result === false) {
                bootbox.alert("Comment couldn't delete");
            }
            else {
                bootbox.alert("Comment not deleted");
            }
        })
    }

   

</script>
@Html.PagedListPager(Model, pageNumber => Url.Action("Comment", new { pageNumber }), PagedListRenderOptions.Classic)
