@model DMYTest.Data.Models.Product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Detay | E-Shopper</title>
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshop/mages/ico/apple-touch-icon-57-precomposed.png">
    <link href="~/Content/toastr.css" rel="stylesheet" />

</head><!--/head-->

<body>


    <section>
        <div class="container">
            <div class="row">
                @Html.Action("categoryList", "Category")

                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                @foreach (var item in Model.Images.Where(i => i.ProductID == Model.ProductID))
                                {
                                    <img src="~/Content/Image/@item.ImagePath" style="width:300px; height:240px; margin-top:20px" alt="@Model.ProductName" />

                                }

                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">

                                <h2>@Model.ProductName</h2>


                                <span>
                                    <span>@Model.UnitPrice TL</span>

                                    <a class="btn btn-fefault cart" style="margin-top:15px" href="/Cart/AddCart/@Model.ProductID">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add To Cart
                                    </a>
                                </span>
                                <p><b>Category Name:</b> @Model.Category.CategoryName</p>
                                <p><b>Stock:</b> @Model.Stock</p>
                                <p><b>Is Popular:</b> @Model.Popular</p>
                                <p><b>Description:</b> @Model.Description</p>
                            </div><!--/product-information-->
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Comment
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Write Any Comment</h5>

                                        </div>
                                        <div class="modal-body">
                                            <textarea id="comment" class="form-control" name="Contents" placeholder="Write comment"></textarea>
                                            <input type="hidden" name="ProductId" value="@Model.ProductID" id="productIDModal" />
                                            <input type="hidden" name="UserId" value="@Session["userid"]" id="userIDModal" />
                                            <input type="hidden" name="Date" value="@DateTime.Now" id="DateModal" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary submitComment" data-id="@Model.ProductID" data-dismiss="modal">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        @*<div class="row">
                                <div class="col-sm-8">
                                    <h3>Yorum Yap</h3>

                                    <div>
                                   <input type="text" placeholder="Adınız Soyadınız" class="form-control col-md-4 col-sm-4" id="userName"/>
                                        <br /> <br />
                                        <textarea id="icerikgir" placeholder="Yorum yazınız" required></textarea>
                                        <br />
                                        <br />

                                        <button type="submit" class="btn btn-warning" value="Yorum Yap" id="gonder">Yorum Yap</button>

                                    </div>




                                </div>
                            </div>*@


                        <hr />
                        <div class="row">

                            <div id="commentDivField" class="col-md-4 col-sm-4">

                                @foreach (var item in ViewBag.Comment)
                                {
                                    <div data-id="@item.ID">
                                        <h4 style="color:coral" data-id="@item.ID">
                                            <span id="username" data-id="@item.ID">@item.User.UserName</span>
                                        </h4>
                                        <p data-id="@item.ID">
                                            <span id="contents" data-id="@item.ID">@item.Contents </span>
                                        </p>
                                        <br />
                                        <span id="date" data-id="@item.ID">@item.Date</span>

                                        <hr />
                                    </div>



                                }

                            </div>

                        </div>
                    </div><!--/product-details-->



                    @Html.Action("Popular", "Product")

                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.submitComment').on('click', function () {
                var productID = $(this).data('id');
                addComment(productID);
            });
        });
        function addComment(productID) {

            // content degeri
            var contentModalValue = document.querySelector('#comment').value;

            $.ajax({

                url: "/product/addcomment",
                type: "POST",
                data: { productID: productID, content: contentModalValue },
                success: function (data) {
                    if (data.success) {
                        var newCommentDiv = document.createElement("div");
                        
                        newCommentDiv.innerHTML = `
                                        <h4 style="color:coral">
                                            <span id="username" data-id="${data.commentID}">${data.username}</span>
                                        </h4>
                                        <p data-id="${data.commentID}">
                                            <span id="contents" data-id="${data.commentID}">${data.content}</span>
                                        </p>
                                        <br />
                                        <span id="date" data-id="${data.commentID}">${data.date}</span>
                                        <hr />
                                    `;

                        var commentDivField = document.getElementById('commentDivField');
                        commentDivField.appendChild(newCommentDiv);
                        toastr.success(data.message);
                    }
                    else {
                        toastr.error(data.message);
                    }

                },
                error: function () {
                    toastr.error("Error");
                }

            });

        }


    </script>
</body>
</html>