@model DMYTest.Data.Models.Product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    
    .liked {
        width: 30px;
        color: blue;
    }
    .unliked {
        width: 30px;
        color: grey;
    }
    .like-button{
        width:30px;
        
    }
    
</style>

<body>


    <section>
        <div class="container">
            <div class="row">
                @Html.Action("categoryList", "Category")

                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                @foreach (var item in Model.Images.Where(i => i.ProductID == Model.ProductID))
                                {
                                    <img src="~/Content/Image/@item.ImagePath" style="width:300px; height:240px; margin-top:20px" alt="@Model.ProductName" />

                                }

                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">

                                <h2>@Model.ProductName</h2>


                                <span>
                                    <span>@Model.UnitPrice TL</span>

                                    <a class="btn btn-fefault cart" style="margin-top:15px" href="/Cart/AddCart/@Model.ProductID">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add To Cart
                                    </a>
                                </span>
                                <p><b>Category Name:</b> @Model.Category.CategoryName</p>
                                <p><b>Stock:</b> @Model.Stock</p>
                                <p><b>Is Popular:</b> @Model.Popular</p>
                                <p><b>Description:</b> @Model.Description</p>
                            </div><!--/product-information-->
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Comment
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Write Any Comment</h5>

                                        </div>
                                        <div class="modal-body">
                                            <textarea id="comment" class="form-control" name="Contents" placeholder="Write comment"></textarea>
                                            <input type="hidden" name="ProductId" value="@Model.ProductID" id="productIDModal" />
                                            <input type="hidden" name="UserId" value="@Session["userid"]" id="userIDModal" />
                                            <input type="hidden" name="Date" value="@DateTime.Now" id="DateModal" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary submitComment" data-id="@Model.ProductID" data-dismiss="modal">Send</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">

                            <div id="commentDivField" class="col-md-4 col-sm-4">

                                @foreach (var item in ViewBag.Comments)
                                {
                                    <div data-id="@item.ID">
                                        <h4 style="color:coral">
                                            <span id="username">@item.User.UserName</span>
                                        </h4>
                                        <p>
                                            <span id="contents">@item.Contents </span>
                                        </p>
                                        <button class="btn btn-block btn-primary like-button" data-id="@item.ID"><span id="like-icon" data-id="@item.ID"><i class="fa fa-thumbs-up @ViewBag.CommentLikes[item.ID]"></i></span> </button>

                                        <div><span id="likes-count" data-id="@item.ID">@item.Likes.Count</span> kişi beğendi</div>
                                        <br />
                                        <span id="date">@item.Date</span>
                                        <hr />
                                        <hr />
                                    </div>

                                }
                            </div>

                        </div>
                    </div><!--/product-details-->



                    @Html.Action("Popular", "Product")

                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!-- Diğer bağımlılıklarınızı ekleyin -->

    <script type="text/javascript">

        $(document).ready(function () {
            $('.submitComment').on('click', function () {
                console.log("Submit button clicked!!");
                var productID = $(this).data('id');
                addComment(productID);
            });

            $('.like-button').on('click', function () {
                var commentID = $(this).data('id');
                like(commentID);
            });

            $('.list-likers').on('click', function () {
                var commentID = $(this).data('id');
                listLikers(commentID);
            });
        });
        function addComment(productID) {
            // content degeri
            var contentModalValue = document.querySelector('#comment').value;
            $.ajax({
                url: "/product/addcomment",
                type: "POST",
                data: { productID: productID, content: contentModalValue },
                success: function (data) {
                    if (data.success) {
                        var newCommentDiv = document.createElement("div");
                        newCommentDiv.innerHTML = `
                                            <h4 style="color:coral">
                                            <span id="username">${data.username}</span>
                                        </h4>
                                        <p>
                                            <span id="contents">${data.content}</span>
                                        </p>
                                        <button class="btn btn-block btn-primary like-button" data-id="${data.commentID}">
<span id="like-icon" data-id="${data.commentID}"><i class="fa fa-thumbs-up unliked"></i></span></button>

                                        <div><span id="likes-count" data-id="${data.commentID}">0</span> kişi beğendi</div>
                                        <br />
                                        <span id="date">${data.date}</span>
                                        <hr />
                                        <hr />
                                        `;
                        newCommentDiv.setAttribute("data-id", data.commentID);
                        commentDivField.appendChild(newCommentDiv);
                        toastr.success(data.message);
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
                error: function () {
                    toastr.error("Error");
                }
            });
        }

        function like(commentID) {
            var likeCountElement = document.querySelector('#likes-count[data-id="' + commentID + '"]');
            var buttonIconElement = document.querySelector('#like-button-icon[data-id="' + commentID + '"]');

            $.ajax({
                type: "POST",
                url: "/product/likecomment",
                data: { commentID: commentID },
                success: (data) => {
                    console.log(data);
                    if (data.success) {
                        likeCountElement.textContent = data.likeCount;
                        buttonIconElement.innerHTML = `<i class="fa fa-thumbs-up ${data.progress}"></i>`;
                        toastr.info(data.message);
                    }
                    else {
                        toastr.error(data.message);
                    }
                },
                error: () => {
                    console.log("Error!!");
                    toastr.error("error");
                }
            })
        }

        function listLikers(commentID) {
            var likeListElement = document.createElement('div').className('.like-list-element[data-id="' + commentID + '"]');
            $.ajax({
                type: "GET",
                url: "/products/listlikers",
                data: { commentID: commentID },
                success: (data) => {
                    if (data.success) {

                        likeListElement.innerHTML(`
                                    <div class="liked-users">
                                        Liked by: <span class="user"></span
                                    </div>
                                `)
                    }
                    else {

                    }
                },
                error: () => {
                    toastr.error("Error!!");
                }
            })
        }
    </script>
</body>
