@using PagedList;
@using PagedList.Mvc;
@model List<DMYTest.Data.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/toastr.css" rel="stylesheet" />

<h2 hidden>@Session["Ad"]  @Session["Soyad"]</h2>

@if (Model.Count > 0)
{
    
    <table class="table table-bordered cart-table" id="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th>Unit Price</th>
                <th>Date</th>
                <th>Image</th>
                <th>Delete</th>
                <th>Total Price</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="operation" id="tableChild" data-cartid="@item.CartID">
                    <td>@item.Product.ProductName</td>
                    <td>
                        <div class="update-quantity">
                            <button class="btnIncrease" data-cartid="@item.CartID">+</button>
                            <span id="item-quantity" data-cartid="@item.CartID">@item.Quantity</span>
                            <button class="btnDecrease" data-cartid="@item.CartID">-</button>
                        </div>
                    </td>
                    <td class="unit-price" data-cartid="@item.CartID">@item.Product.UnitPrice</td>
                    <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                    <td>
                        @foreach (var i in item.Product.Images.Where(i => i.ProductID == item.ProductID).Select(X => X.ImagePath).ToList())
                        {
                            <img src="~/Content/Image/@i" width="90" height="90" />
                        }
                    </td>
                    <td><span class="btn btn-danger btnDelete" id="btnDeleteById" data-cartid="@item.CartID">Delete</span></td>
                    <td>    <span id="item-price" data-cartid="@item.CartID">@item.Price</span> TL</td>
                    <td><a href="/sales/buy/@item.CartID" class="btn btn-success">Buy</a></td>
                </tr>
            }
            <p id="total-price-element">Total Cost :<span id="item-total-price">@Model.Sum(m => m.Quantity * m.Product.UnitPrice)</span> TL</p>
            <h2 id="cart-message"></h2>
        </tbody>
    </table>

    <div id="action-methods">
        <div class="container form-group">
            <a href="/sales/buyall" class="btn btn-success form-control">Buy All</a>
        </div>
        <div class="container form-group">
            <span class="btn btn-danger form-control btnDeleteAll">Delete All</span>
        </div>
    </div>
    
}
else
{
    <h2>There is no product here</h2>
}


<style>
    .update-quantity {
        display: flex;
        align-items: center;
    }

        .update-quantity button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            .update-quantity button:hover {
                background-color: #0056b3;
            }
</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('.btnIncrease').on('click', function () {
            var cartID = $(this).data('cartid');

            increaseQuantity(cartID);
        })
        $('.btnDecrease').on('click', function () {
            var cartID = $(this).data('cartid');
            decreaseQuantity(cartID);
        })

        $('.btnDelete').on('click', function () {
            var cartID = $(this).data('cartid');

            deleteById(cartID);
        })
        $('.btnDeleteAll').on('click', function () {
            deleteAll();
        })

    });
    function increaseQuantity(cartID) {
        var money = ",00";
        var quantityElement = document.querySelector('#item-quantity[data-cartid="' + cartID + '"]');
        var priceElement = document.querySelector('#item-price[data-cartid="' + cartID + '"]');
        var totalPriceElement = document.getElementById('item-total-price');
        $.ajax({
            url: "/cart/IncreaseQuantity",
            type: "POST",
            data: { cartID: cartID },
            success: function (data) {
                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.totalPrice + money;
                toastr.info(data.message);
            },
            error: function () {

                toastr.error("dadsa");
            }
        });
    }

    function decreaseQuantity(cartID) {
        var money = ",00";
        var quantityElement = document.querySelector('#item-quantity[data-cartid="' + cartID + '"]');
        var priceElement = document.querySelector('#item-price[data-cartid="' + cartID + '"]');
        var totalPriceElement = document.getElementById('item-total-price');

        $.ajax({
            url: "/cart/decreasequantity",
            type: "POST",
            data: { cartID: cartID },
            success: function (data) {
                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.totalPrice + money;
                toastr.info(data.message);
            },
            error: function () {

                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.currentPrice + money;
                taostr.error("DMKSD");
            }
        });
    }
    function deleteById(cartID) {
        var tableElement = document.querySelector('#tableChild[data-cartid="' + cartID + '"]');

        $.ajax({
            url: "/cart/deletebyid",
            type: "POST",
            data: { cartID: cartID },
            success: function (data) {
                if (data.success) {
                    tableElement.remove();
                    toastr.info(data.message);
                }
                else {
                    toastr.error(data.message);
                }
            }

        })
    }
    function deleteAll() {
        var tableElement = document.querySelector('#cart-table');
        var totalPriceElement = document.getElementById('total-price-element');
        var cartMessageElement = document.getElementById('cart-message');
        var actionMethodsElement = document.getElementById('action-methods');
        $.ajax({
            url: "/cart/deleteall",
            type: "POST",
            success: function (data) {
                if (data.success) {
                    tableElement.remove();
                    totalPriceElement.remove();
                    actionMethodsElement.remove();
                    cartMessageElement.innerText = "Product couldn't find";
                    toastr.info(data.message);

                }
                else {
                    toastr.error(data.message);
                }
            }
        })
    }

    


</script>
