@using PagedList;
@using PagedList.Mvc;
@model List<DMYTest.Data.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/toastr.css" rel="stylesheet" />

<h2 hidden>@Session["Ad"]  @Session["Soyad"]</h2>

@if (Model.Count > 0)
{
    <h3>Sepetim</h3>
    <table class="table table-bordered" id="table">
        <thead>
            <tr>
                <th>Ürün Bilgisi</th>
                <th>Adet</th>
                <th>Birim Fiyatı</th>
                <th>Tarih</th>
                <th>Resim</th>
                <th>Sil</th>
                <th>Toplam Tutar</th>
                <th>Satın Al</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="operation">
                    <td>@item.Product.ProductName</td>
                    <td>
                        <div class="update-quantity">
                            <button class="btnIncrease" data-cartid="@item.CartID">+</button>
                            <span id="item-quantity" data-cartid="@item.CartID">@item.Quantity</span>
                            <button class="btnDecrease" data-cartid="@item.CartID">-</button>
                        </div>
                    </td>
                    <td class="unit-price" data-cartid="@item.CartID">@item.Product.UnitPrice</td>
                    <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                    <td>
                        @foreach (var i in item.Product.Images.Where(i => i.ProductID == item.ProductID).Select(X => X.ImagePath).ToList())
                        {
                            <img src="~/Content/Image/@i" width="90" height="90" />
                        }
                    </td>
                    <td><a href="/cart/delete/@item.CartID" class="btn btn-danger" id="item-cartID" onclick="return confirm('Emin misiniz')">Sil</a></td>
                    <td>    <span id="item-price" data-cartid="@item.CartID">@item.Price</span> TL</td>
                    <td><a href="/sales/buy/@item.CartID" class="btn btn-success">Satın Al</a></td>
                </tr>
            }
            <p>Toplam Tutar :<span id="item-total-price">@Model.Sum(m => m.Quantity * m.Product.UnitPrice)</span> TL</p>
        </tbody>
    </table>

    <div class="container"> </div>
    <br />

    <div class="container form-group">
        <a href="/sales/buyall/@ViewBag.userID" class="btn btn-success form-control">Tümünü Satın Al</a>
    </div>
    <div class="container form-group">
        <a href="/cart/deleteall" class="btn btn-danger form-control">Hepsini Sil</a>
    </div>
}
else
{
    <h2>Sepetinizde urun bulunamadi.</h2>
}


<style>
    .update-quantity {
        display: flex;
        align-items: center;
    }

        .update-quantity button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            .update-quantity button:hover {
                background-color: #0056b3;
            }
</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('.btnIncrease').on('click', function () {
            var cartID = $(this).data('cartid');


            increaseQuantity(cartID);
        })
        $('.btnDecrease').on('click', function () {
            var cartID = $(this).data('cartid');

            decreaseQuantity(cartID);
        })

    });
    function increaseQuantity(cartID) {
        var money = ",00";
        var quantityElement = document.querySelector('#item-quantity[data-cartid="' + cartID + '"]');
        var priceElement = document.querySelector('#item-price[data-cartid="' + cartID + '"]');
        var totalPriceElement = document.getElementById('item-total-price');
        $.ajax({
            url: "/cart/IncreaseQuantity",
            type: "POST",
            data: { cartID: cartID },
            success: function (data) {
                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.totalPrice + money;
                toastr.info(data.message);
            },
            error: function () {

                toastr.error("dadsa");
            }
        });
    }

    function decreaseQuantity(cartID) {
        var money = ",00";
        var quantityElement = document.querySelector('#item-quantity[data-cartid="' + cartID + '"]');
        var priceElement = document.querySelector('#item-price[data-cartid="' + cartID + '"]');
        var totalPriceElement = document.getElementById('item-total-price');

        $.ajax({
            url: "/cart/decreasequantity",
            type: "POST",
            data: { cartID: cartID },
            success: function (data) {
                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.totalPrice + money;
                toastr.info(data.message);
            },
            error: function () {

                priceElement.innerText = data.currentPrice + money;
                quantityElement.innerText = data.currentQuantity;
                totalPriceElement.innerText = data.currentPrice + money;
                taostr.error("DMKSD");
            }
        });


    }


</script>
