@using PagedList;
@using PagedList.Mvc;
@model List<DMYTest.Data.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/toastr.css" rel="stylesheet" />

<h2>@Session["Ad"]  @Session["Soyad"]</h2>

<h3>Sepetim</h3>
<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>Ürün Bilgisi</th>
            <th>Adet</th>
            <th>Birim Fiyatı</th>
            <th>Tarih</th>
            <th>Resim</th>
            <th>Sil</th>
            <th>Toplam Tutar</th>
            <th>Satın Al</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="operation">
                <td>@item.Product.ProductName</td>
                <td>
                    <div class="update-quantity">
                        <button class="btnIncrease">+</button>
                        <span class="item-quantity">@item.Quantity</span>
                        <button class="btnDecrease">-</button>
                    </div>
                </td>
                <td class="unit-price">@item.Product.UnitPrice</td>
                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                <td>
                    @foreach (var i in item.Product.Images.Where(i => i.ProductID == item.ProductID).Select(X => X.ImagePath).ToList())
                    {
                        <img src="~/Content/Image/@i" width="90" height="90" />
                    }
                </td>
                <td><a href="/cart/delete/@item.CartID" class="btn btn-danger" onclick="return confirm('Emin misiniz')">Sil</a></td>
                <td>    <span class="item-price">@item.Price</span> TL</td>
                <td><a href="/sales/buy/@item.CartID" class="btn btn-success">Satın Al</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="container"> </div>
<br />
<div class="container form-group">
    <a href="/sales/buyall" class="btn btn-success form-control">Tümünü Satın Al</a>
</div>

<div class="container form-group">
    <a href="/cart/deleteall" class="btn btn-danger form-control">Hepsini Sil</a>
</div>

<style>
    .update-quantity {
        display: flex;
        align-items: center;
    }

        .update-quantity button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            .update-quantity button:hover {
                background-color: #0056b3;
            }
</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script type="text/javascript">
    var cartData = [];

    $(document).ready(function () {
        $("#table").on("click", ".btnIncrease", function () {
            var quantityElement = $(this).siblings(".item-quantity");
            var priceElement = $(this).closest("tr").find(".item-price");
            var unitPriceElement = $(this).closest("tr").find(".unit-price"); 
            
            var currentQuantity = parseInt(quantityElement.text());
            var newQuantity = currentQuantity + 1;
            quantityElement.text(newQuantity);
            updatePrice(priceElement, newQuantity , unitPriceElement);
        });

        $("#table").on("click", ".btnDecrease", function () {
            var quantityElement = $(this).siblings(".item-quantity");
            var priceElement = $(this).closest("tr").find(".item-price"); 
            var unitPriceElement = $(this).closest("tr").find(".unit-price"); 

            var currentQuantity = parseInt(quantityElement.text());
            
            if (currentQuantity > 1) {
                var newQuantity = currentQuantity - 1;
                quantityElement.text(newQuantity);
                updatePrice(priceElement, newQuantity , unitPriceElement);
            }
        });
    });

    function updatePrice(priceElement, newQuantity, unitPriceElement) {
        var currentPrice = parseInt(priceElement.text());
        var unitPrice = parseInt(unitPriceElement.text()); 
        var cartID = priceElement.closest("tr").find(".btn-danger").attr("href").split('/').pop();
        var money = ",00"
        $.ajax({
            url: "/cart/updatecart",
            type: "POST",
            data: { cartID: cartID, newQuantity: newQuantity, currentPrice: currentPrice },
            success: function (data) {
                toastr.success("Fiyat güncellendi");
                priceElement.text(data.currentPrice + money);
            },
            error: function () {
                toastr.error("Hata");
            }
        });
    }
</script>
