@using PagedList.Mvc;
@using PagedList;

@model PagedList.IPagedList<DMYTest.Data.Models.Sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Satis Listesi</h2>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Urun Adi</th>
        <th>Adet</th>
        <th>Toplam Fiyat</th>
        <th>Resim</th>
        <th>Tarih</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.SalesID</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            @foreach (var i in item.Product.Images.Where(i => i.ProductID == item.ProductID).ToList())
            {
                <td><img src="~/Content/Image/@i.ImagePath" width="80" height="80"></td>
            }

            <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>

        </tr>
    }
</table>

@Html.PagedListPager(Model,page =>Url.Action("Index",new {page}) , PagedListRenderOptions.Classic)
